<link rel="stylesheet" href="../src/css/footer.css">
<footer class="footer" style="height: 180px;">
    <div class="foot-max">
        <div class="foot-se">
            <img src="https://shop.io.mi-img.com/static/h5/static3/media/logo.d1484e61.png?wdith:123px;height:50px;" style="width: 148px; height: 45px;"
                alt="">
        </div>
        <div class="foot-ty">
            <div>
                <span class="sec">©xiaomiyoupin.com 苏B2-20180351 苏ICP备18025642号-1<a href=""><img src="https://shop.io.mi-img.com/static/h5/static3/media/record-icon.d0289dc0.png" alt=""></a>苏公网安备 32010502010244号</span>
            </div>
            <span>企业名称：有品信息科技有限公司 关于我们 入驻有品</span>
            <a href="">小米有品运营主体公告</a>
            <span>南京市建邺区白龙江东街8号3栋9层</span>
        </div>
        <div class="wer"><img src="https://shop.io.mi-img.com/static/h5/static3/media/f-logo.c6285587.png" alt=""></div>
    </div>
</footer>