<link rel="stylesheet" href="../src/lib/layui/css/layui.css">
<link rel="stylesheet" href="../src/css/top.css">
<top class="top" style="height:70px; overflow: hidden;">
    <div class="min">
        <div class=".ce">
            <img src="https://shop.io.mi-img.com/static/h5/static3/media/logo.d1484e61.png?wdith:123px;height:50px;" style="width: 123px; height: 50px; float: left;"
                alt="">
        </div>
        <div class="son">
            <a href="">限时抢购</a>
        </div>
        <div class="str">
            <div class="yin">
                <a id="btn" target="_block" class="layui-icon layui-icon-search"></a>
                <input id="input" type="text">
                <a class="layui-icon layui-icon-cart" id="sece"  target="_block"></a>
            </div>
        </div>
    </div>
</top>